[flake8]
max-line-length = 120
max-line-length-imports = 150
exclude =
    .git,
    __pycache__,
    old,
    build,
    dist,
    .sh,
    .txt,
    .yml,
    .db,
    .md,
    comment,
    tests,
    migrations,
    scripts,
    test